{% extends 'base.html' %}

{% block title %} Profile Form {% endblock %}

{% block content %}

<div class="w-96 max-w-[30rem] m-auto rounded-md -2">
    <h2 class="text-lg font-medium text-gray-900 text-center mb-2">Profile</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'profile_form' %}" class="space-y-4 w-[30rem]">
        {% csrf_token %}
        <div class="block m-auto">
            <div class="w">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-48 h-48 rounded-full object-cover border-4 border-gray-300">
            </div>
            <input type="file" name="profile_pic" id="id_profile_pic" class=" mt-2">
            <label for="id_profile_pic" class="block text-md font-medium text-gray-700">Profile picture</label> 
        </div>
        <div>
            <label for="id_first_name" class="block text-md font-medium text-gray-700">First Name</label>
            <input type="text" name="first_name" id="id_first_name" class="w-full border rounded-md p-2 -2">
        </div>
        <div>
            <label for="id_last_name" class="block text-md font-medium text-gray-700">Last Name</label>
            <input type="text" name="last_name" id="id_last_name" class="w-full border rounded-md p-2 -2">
        </div>
        <div>
            <label for="id_bio" class="block text-md font-medium text-gray-700">Bio</label>
            <textarea name="bio" id="id_bio" rows="4" class="w-full border rounded-md p-2 mt-2"></textarea>
        </div>
        <!-- {{ form.as_p }} -->
        <button type="submit" class="bg-black text-white text-sm p-4 block -auto rounded-md">Save</button>
    </form>
</div>

{% endblock %}